<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find sjtu_drone)/models"/>
  <env name="GAZEBO_PLUGIN_PATH" value="$GAZEBO_PLUGIN_PATH:$(find sjtu_drone)/plugins"/> <!--add custom plugins for drone to gazebo plugin path-->
  <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find sjtu_drone)/meshes"/>

 <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" value="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="$(find sjtu_drone)/worlds/crossing.world"/>

  <!-- launch the custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- send robot urdf to param server -->
  <arg name="gpu" default="false"/>
  <arg name="organize_cloud" default="false"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sjtu_drone)/urdf/sjtu_drone.urdf.xacro' organize_cloud:=$(arg organize_cloud) gpu:=$(arg gpu)" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param /robot_description -model sjtu_drone -x 35.75 -y -1.85 -z 0"
  respawn="false" output="screen" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- open rviz configuration -->
  <arg name="rviz" default="true" />
  <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find sjtu_drone)/rviz_cfg/velodyne.rviz" />
  </group>

</launch>
