<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <arg name="voxel_size" default="0.1"/>
  <arg name="dronePointCloudTopic" default="/velodyne_points" />

  <node name="voxblox_node" pkg="voxblox_ros" type="tsdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="$(arg dronePointCloudTopic)"/>
    <param name="use_tf_transforms" value="true"/>
    <param name="world_frame" value="base_link"/>
    <param name="sensor_frame" value=""/>
    <param name="tsdf_voxel_size" value="0.2" />
    <param name="truncation_distance" value="2" />
    <param name="color_mode" value="normals" />
    <param name="enable_icp" value="true" />
    <param name="icp_refine_roll_pitch" value="false" />
    <param name="update_mesh_every_n_sec" value="1.0" />
    <param name="mesh_min_weight" value="2" />
    <param name="method" value="fast" />
    <param name="max_ray_length_m" value="10.0" />
    <param name="use_const_weight" value="true" />
    <param name="verbose" value="true" />
    <param name="mesh_filename" value="" />
  </node>
</launch>